<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mars.mapper.CreateMapper">

    <!-- 插入用户数据 -->
    <insert id="createUser" parameterType="com.mars.pojo.User" useGeneratedKeys="true" keyProperty="ID" keyColumn="user_id">
        INSERT INTO users(user_id, user_name, passwd_hash)
        VALUES(#{ID}, #{userName}, #{passwdHash})
    </insert>


</mapper>